@model myfinance_web_netcore.Models.AccountPlanModel

@{
    ViewData["Title"] = "Criar plano de conta";

    string vDescription = string.Empty;
    int vAccountPlanTypeId = 0;

    try {
        vDescription = @ViewBag.AccountPlan.Description;
        vAccountPlanTypeId = @ViewBag.AccountPlan.AccountPlanTypeId;
    }
    catch {}
}

<h3>@ViewData["Title"]</h3>

<div>
    <form asp-controller="AccountPlan" asp-action="CreateAccountPlan">
        <input type="hidden" asp-for="Id"><br>
        
        <label>Descrição:</label><br>
        <input type="text" asp-for="Description" value="@vDescription"><br>

        <label>Tipo:</label><br>
        <select asp-for="AccountPlanTypeId" class="form-control">
            @{
                foreach (AccountPlanTypeModel accountPlanType in (List<AccountPlanTypeModel>)ViewBag.AccountPlanTypes)
                {
                    if (accountPlanType.Id == vAccountPlanTypeId)
                    {
                        <option selected value="@accountPlanType.Id">@accountPlanType.Description</option>
                    }
                    else
                    {
                        <option value="@accountPlanType.Id">@accountPlanType.Description</option>
                    }
                }
            }
        </select>

        <button type="submit" class="btn btn-block btn-success">Registrar</button>
    </form>
</div>